@{
    ViewBag.Title = "Planta";
}

<h2>Plantas</h2>
<form>

    <div class="col-md-6">
        <div class="form-group">
            <label for="tipoPlanta">Tipo de Planta</label>
            <select class="form-control"
                    id="tipoPlanta"
                    name="tipoPlanta"
                    required>
                <option></option>
                <option>Arboles</option>
                <option>Arbustos</option>
                <option>Helechos</option>
                <option>Trepadoras</option>
                <option>Acuaticas</option>
                <option>Palustres</option>
                <option>Palmeras</option>
                <option>Anules</option>
                <option>Cespedes</option>
                <option>Banbúes</option>
                <option>De interior</option>
                <option>Epífitas</option>
                <option>Cactus</option>
                <option>Bulbosas</option>
                <option>Tuperosas</option>

            </select>
        </div>
    </div>


    <div class="col-md-6">
        <div class="form-group">
            <label for="tipoHoja">Tipo de Hojas</label>
            <select class="form-control"
                    id="tipoHoja"
                    name="tipoHoja"
                    required>
                <option></option>
                <option>Acintadas</option>
                <option>Facilformes (forma de hoz)</option>
                <option>Lobuladas</option>
                <option>Lanceoladas</option>
                <option>Acorazonadas</option>
                <option>Escuamiformes (forma de escamas)</option>
                <option>Aciculares (forma de aguja)</option>
                <option>Flabeladas (forma de abanico)</option>
                <option>Aovadas (forma de huevo)</option>
                <option>Ovaladas</option>
                <option>Alesnadas (forma de punta de flecha)</option>
                <option>Lineares</option>
            </select>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="tipoFlores">Tipo de Flores</label>
            <select class="form-control"
                    id="tipoFlores"
                    name="tipoFlores"
                    required>
                <option></option>
                <option>Girasoles</option>
                <option>Rosas (forma de hoz)</option>
                <option>Hortensias</option>
                <option>Tulipanes</option>
                <option>Acorazonadas</option>
                <option>Dalias</option>
                <option>Lirios</option>
                <option>Claveles</option>
                <option>Cannas Ínsicas</option>
                <option>Narcisos</option>
                <option>Flores de Cerezo</option>
                <option>Orquideas</option>
                <option>Margaritas</option>
                <option>Flores de Loto</option>
                <option>Lantas</option>
                <option>Corazónes de Sangrantes</option>
                <option>Otras</option>

            </select>
        </div>
    </div>


    <div class="col-md-6">
        <div class="form-group">
            <label for="TemporadaPlantacion">Temporado de Plantación</label>
            <select class="form-control"
                    id="TemporadaPlantacions"
                    name="TemporadaPlantacions"
                    required>
                <option></option>
                <option>Huerto Primaveral</option>
                <option>Cálido Verano</option>
                <option>Otoño</option>
                <option>Invierno</option>
            </select>
        </div>
    </div>


    <div class="col-md-6">
        <div class="form-group">
            <label for="TemporadaFloracion">Temporado de Floración</label>
            <select class="form-control"
                    id="TemporadaFloracion"
                    name="TemporadaFloracion"
                    required>
                <option></option>
                <option>Enero</option>
                <option>Febrero</option>
                <option>Marzo</option>
                <option>Abril</option>
                <option>Mayo</option>
                <option>Junio</option>
                <option>Julio</option>
                <option>Agosto</option>
                <option>Septembre</option>
                <option>Octubre</option>
                <option>Noviembre</option>
                <option>Diciembre</option>
            </select>
        </div>
    </div>>


    <div class="rom">
        <div class="col-md-6">
            <div class="form-group">
                <label for="PrecioUnidad">Precio por unidad</label>
                <input type="text" class="form-control"
                       id="PrecioUnidad"
                       name="PrecioUnidad"
                       required maxlength="100"
                       placeholder="introduce  el Precio por unidad">

            </div>
        </div>
    </div>

    

    <div class="rom">
        <div class="col-md-6">
            <div class="form-group">
                <label for="OtrosAtributos">Otros Atributos</label>
                <input type="text" class="form-control"
                       id="OtrosAtributos"
                       name="OtrosAtributos"
                       required maxlength="100"
                       placeholder="introduce otros atributos">

            </div>
        </div>
    </div>


    <div>
        <p><button class="btn btn-success btn-md center-block">Guardar</button></p>
        <br />

        <h2 align="center"><img width="280" src="../../IMAGEN/Planta.jpg" alt="" /></h2>

    </div>
    
        


    

</form>
<script></script>