
@{
    ViewBag.Title = "Abono";
}

<h2>Abono</h2>

<form>


    <div class="col-md-6">
        <div class="form-group">
            <label for="tipoAbono">Tipo de Abono</label>
            <select class="form-control"
                    id="tipoAbono"
                    name="tipoAbono"
                    required>
                <option></option>
                <option>Organico</option>
                <option>Fertilizante</option>
                <option>Inorganico</option>
                <option>Organico-Mineltal</option>
                <option>Bioestimulante</option>
            </select>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="tipoPresentación">Tipo de presentación</label>
            <select class="form-control"
                    id="tipoPresentación"
                    name="tipoPresentación"
                    required>
                <option></option>
                <option>Polvo</option>
                <option>Granulado</option>
                <option>Cristalizado</option>
                <option>Perlado</option>
                <option>Microgranulado</option>
                <option>Liquido</option>
                <option>Bastones</option>
                <option>Pastillas</option>
                <option>Tacos</option>
                <option>Gel</option>
            </select>
        </div>
    </div>

    <div class="rom">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Cantidad">Cantidad</label>
                <input type="text" class="form-control"
                       id="Cantidad"
                       name="Cantidad"
                       required maxlength="100"
                       placeholder="introduce La Cantidad del Abono">

            </div>
        </div>
    </div>



    <div class="rom">
        <div class="col-md-6">
            <div class="form-group">
                <label for="PrecioUnidad">Precio</label>
                <input type="text" class="form-control"
                       id="PrecioUnidad"
                       name="PrecioUnidad"
                       required maxlength="100"
                       placeholder="introduce  el Precio">

            </div>
        </div>
    </div>


    <div class="rom">
        <div class="col-md-6">
            <div class="form-group">
                <label for="OtrosAtributos">Otros Atributos</label>
                <input type="text" class="form-control"
                       id="OtrosAtributos"
                       name="OtrosAtributos"
                       required maxlength="100"
                       placeholder="introduce otros atributos">

            </div>
        </div>
    </div>


    <div >
        <p><button class="btn btn-success btn-md center-block">Guardar</button></p>

    </div>

    <div class="row"></div>
        <div class="col-md-4"></div>
    <h2 align="center"><img width="280"  src="../../IMAGEN/Tierrapreparada13.jpg" alt="1" /></h2>
            <p>
                El abono orgánico es el término usado para la mezcla de materiales
                que se obtienen de la degradación y mineralización de residuos orgánicos
                de origen animal (estiércoles), vegetal (restos de cosechas) e industrial
                (lodos de depuradoras) que se aplican a los suelos con el propósito de mejorar
                las características
                <br>
            <p></p>

            <script></script>



</form>