
@{
    ViewBag.Title = "Adorno";
}

<h2>Adornos</h2>
<form>


    <div class="col-md-6">
        <div class="form-group">
            <label for="tipoAdorno">Tipo de Adorno</label>
            <select class="form-control"
                    id="tipoAdorno"
                    name="tipoAdorno"
                    required>
                <option></option>
                <option>Fuentes</option>
                <option>Masetas</option>
                <option>Luces</option>
                <option>Asientos</option>
                <option>Esculturas</option>
                <option>Lamparas</option>
            </select>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="Tamaño">Tamaño</label>
            <select class="form-control"
                    id="Tamaño"
                    name="Tamaño"
                    required>
                <option></option>
                <option>Grande</option>
                <option>Mediano</option>
                <option>Pequeño</option>
            </select>
        </div>
    </div>


    <div class="rom">
        <div class="col-md-6">
            <div class="form-group">
                <label for="color">color</label>
                <input type="text" class="form-control"
                       id="color"
                       name="color"
                       required maxlength="100"
                       placeholder="introduce el color del Adorno">
            </div>
        </div>
    </div>


    <div class="rom">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Material">Material</label>
                <input type="text" class="form-control"
                       id="Material"
                       name="TemporadaFloracion"
                       required maxlength="100"
                       placeholder="introduce el Material del Adorno">

            </div>
        </div>
    </div>




    <div class="rom">
        <div class="col-md-6">
            <div class="form-group">
                <label for="PrecioUnidad">Precio por unidad</label>
                <input type="text" class="form-control"
                       id="PrecioUnidad"
                       name="PrecioUnidad"
                       required maxlength="100"
                       placeholder="introduce  el Precio por unidad">

            </div>
        </div>
    </div>

    

    <div class="rom">
        <div class="col-md-6">
            <div class="form-group">
                <label for="OtrosAtributos">Otros Atributos</label>
                <input type="text" class="form-control"
                       id="OtrosAtributos"
                       name="OtrosAtributos"
                       required maxlength="100"
                       placeholder="introduce otros atributos">

            </div>
        </div>
    </div>


    <div>
        <p><button class="btn btn-success btn-md center-block">Guardar</button></p>

        <h2 align="center"><img width="280" src="../../IMAGEN/ADORNOS.jpg" alt="1" /></h2>
        <p>
</div>

    <script></script>



</form>