@{
    ViewBag.Title = "Home Page";
    
}

<div class="jumbotron" style="background-color: #daf8f3;">

    <h1>FLO&BUS</h1>

    <h2 align="center"><img width="500" src="../../IMAGEN/arbustosyflores2.jpg" border="0"></h2>
    <p class="lead">
        Un jardín es una parte muy especial para poder crear un entorno agradable, es por eso,
        que nos especializamos en tratar de encontrar ese punto entre la naturaleza y la decoración, desarrollando
        espacios que cautiven la atención.

        <br>
    <p></p>

    <b>MECANICA DEL PROYECTO:</b>

    <br>
    <p></p>
    <b></b>

    Primero necesitamos un espacio y una idea para tu jardín;
    se puede agendar una cita para conocer el lugar que tienes en mente o mándanos la información por correo (imagen, medidas, etc).
    Empezamos a generar propuesta de ese espacio con algunas fotos e imágenes (bocetos) y teniendo la idea concreta aterrizada
    te enviamos un presupuesto, si se aprueba podemos empezar a trabajar


    <p></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><img src="../../IMAGEN/flor1.jpg" alt="" />Arreglos Florales</h2>
        <p>
            Los mejores arreglos para tu jardin y espacios
            abiertos para tu empresa.
    </div>


    <div class="col-md-4">
        <h2><img width="300" src="../../IMAGEN/arbusto1.jpg" alt="" />Arbustos</h2>
        <p>
            Tanto en jardines familiares; como en balcones; terrazas y espacios verdes,
            los arbustos son los protagonistas.
            <br>
        <p>
    </div>


    <div class="col-md-4">
        <h2><img width="280" src="../../IMAGEN/Adornos.jpg" alt="" />Adornos</h2>
        <p>
            ¿Ya ha preparado su jardín para esta temporada?
            En caso de que aún no lo haya hecho le mostraremos
            algunos de los complementos y accesorios jardin decorativos
            para exteriores que más nos han gustado.
            <br>
        <p>
    </div>
</div>

        