
@{
    ViewBag.Title = "Tierra";
}

<h2>Tierra</h2>
<form>


    <div class="rom">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Tierra">Tierra</label>
                <input type="text" class="form-control"
                       id="Tierra"
                       name="Tierra"
                       required maxlength="100"
                       placeholder="introduce  el Nombre de la Tierra">

            </div>
        </div>
    </div>

    <div class="rom">
        <div class="col-md-6">
            <div class="form-group">
                <label for="CantidadDeMateriaOrganica">Cantidad de Materia Organica</label>
                <input type="text" class="form-control"
                       id="CantidadDeMateriaOrganica"
                       name="CantidadDeMateriaOrganica"
                       required maxlength="100"
                       placeholder="introduce La Cantidad de Materia Organica de la Tierra">

            </div>
        </div>
    </div>


    <div class="rom">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Presentación">Presentación</label>
                <input type="text" class="form-control"
                       id="Presentación"
                       name="Presentación"
                       required maxlength="100"
                       placeholder="introduce  la Presentación de la Tierra">
            </div>
        </div>
    </div>

    <div class="rom">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Ph">Ph</label>
                <input type="text" class="form-control"
                       id="Ph"
                       name="Ph"
                       required maxlength="100"
                       placeholder="introduce  la Cantidad de Ph de la Tierra">

            </div>
        </div>
    </div>

    <div class="rom">
        <div class="col-md-6">
            <div class="form-group">
                <label for="PrecioUnidad">Precio</label>
                <input type="text" class="form-control"
                       id="PrecioUnidad"
                       name="PrecioUnidad"
                       required maxlength="100"
                       placeholder="introduce  el Precio">

            </div>
        </div>
    </div>


    <div class="rom">
        <div class="col-md-6">
            <div class="form-group">
                <label for="OtrosAtributos">Otros Atributos</label>
                <input type="text" class="form-control"
                       id="OtrosAtributos"
                       name="OtrosAtributos"
                       required maxlength="100"
                       placeholder="introduce otros atributos">

            </div>
        </div>
    </div>


    <div>
        <p><button class="btn btn-success btn-md center-block">Guardar</button></p>

        <h2 align="center"><img width="280" src="../../IMAGEN/Tierra.jpg" alt="1" /></h2>
        <p>
</div>

    <script></script>



</form>

